<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AECping.Properties.Settings.AEC_DBUTConnectionString"
            connectionString="Data Source=AECW8VM001\AECW8VM001;Initial Catalog=AEC_DBUT;Persist Security Info=True;User ID=dmzuser2;Password=dmzuser2"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>