<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="csw_wstest.csw_settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="csw_wstest.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="csw_wstest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="csw_wstest.csw_settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <csw_wstest.csw_settings>
            <setting name="ws_URL" serializeAs="String">
                <value>http://citysmartway.aecilluminazione.it/hyper/ws</value>
            </setting>
        </csw_wstest.csw_settings>
        <csw_wstest.Settings1>
            <setting name="ws_URL" serializeAs="String">
                <value>http://citysmartway.aecilluminazione.it/hyper/ws</value>
            </setting>
        </csw_wstest.Settings1>
    </applicationSettings>
    <userSettings>
        <csw_wstest.Properties.Settings>
            <setting name="ws_URL" serializeAs="String">
                <value>http://citysmartway.aecilluminazione.it/hyper/ws</value>
            </setting>
            <setting name="ws_USER" serializeAs="String">
                <value>aec</value>
            </setting>
            <setting name="ws_PWD" serializeAs="String">
                <value>123456</value>
            </setting>
        </csw_wstest.Properties.Settings>
        <csw_wstest.csw_settings>
            <setting name="ws_USER" serializeAs="String">
                <value>aec</value>
            </setting>
            <setting name="ws_PWD" serializeAs="String">
                <value>123456</value>
            </setting>
        </csw_wstest.csw_settings>
    </userSettings>
</configuration>