<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AECSentinel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AECSentinel.Properties.Settings>
            <setting name="ws_URL" serializeAs="String">
                <value>http://citysmartway.aecilluminazione.it/hyper/ws</value>
            </setting>
            <setting name="ws_USERID" serializeAs="String">
                <value>aec</value>
            </setting>
            <setting name="ws_PASSWORD" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="link_URL" serializeAs="String">
                <value>localhost:55523/api</value>
            </setting>
            <setting name="link_USERID" serializeAs="String">
                <value>pippo</value>
            </setting>
            <setting name="link_PASSWORD" serializeAs="String">
                <value>pluto</value>
            </setting>
        </AECSentinel.Properties.Settings>
    </userSettings>
</configuration>